PureSurvyTestApp/Files/XSD/Student.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Student">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Student" minOccurs ="1" maxOccurs ="4">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name ="Name" minOccurs ="1" maxOccurs="1"/>
              <xsd:element name ="Gender" minOccurs ="1" maxOccurs="1"/>
              <xsd:element name ="TotalMarks" minOccurs ="1" maxOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>